@tailwind base;
@tailwind components;
@tailwind utilities;

.max-container {
  max-width: 1440px;
  margin: 0 auto;
  @apply max-xl:!mx-5;
}

.nav-link {
  @apply uppercase text-sm;
  letter-spacing: 3px;
}

.img-hero {
  @apply w-full object-cover aspect-video;
}

.hero-slider .alice-carousel__dots {
  @apply absolute left-[50%] translate-x-[-50%] bottom-3 bg-white px-3 shadow-lg rounded-sm;
}

.hero-slider .alice-carousel__dots-item {
  @apply bg-gray-300;
}

.hero-slider .alice-carousel__dots-item:not(.__custom):hover,
.alice-carousel__dots-item:not(.__custom).__active {
  @apply !bg-yellow-600;
}

.hero-slider .alice-carousel__play-btn-item::before,
.alice-carousel__play-btn-item::after {
  @apply !border-yellow-600;
}

.hero-slider .alice-carousel__play-btn-item {
  @apply scale-50;
}

/* CARD */

.card-product {
  @apply relative transition duration-500 cursor-pointer p-3 hover:shadow-2xl;
}

.img-card {
  @apply w-full hover:scale-105 transition duration-500 cursor-pointer object-cover aspect-square;
}

.img-box {
  @apply w-full aspect-square overflow-hidden mb-2;
}

.disc-badge {
  @apply absolute top-3 right-0 bg-red-600 text-white px-3;
}

.title-card {
  @apply text-xl mb-2;
}

.card-product .price {
  @apply font-bold text-2xl text-yellow-600;
}
.card-product .disc-price {
  @apply text-sm text-gray-400 line-through;
}

.title-section {
  @apply uppercase font-light text-yellow-500 text-center text-4xl max-sm:text-3xl;
  letter-spacing: 3px;
}

.card-product:hover .title-card {
  @apply underline;
}

.btn-primary {
  @apply bg-yellow-600 text-white px-5 py-2 rounded-full cursor-pointer hover:bg-yellow-700 text-center w-max;
}

.link-footer {
  @apply text-sm border-b border-transparent hover:border-b hover:border-yellow-600 cursor-pointer w-max dark:text-zinc-400;
}

.title-footer {
  @apply font-semibold mb-2;
}

.social-item {
  @apply w-[30px] h-[30px] rounded-full p-2 bg-gray-200 cursor-pointer hover:bg-yellow-600 transition-all hover:p-[7px]
}

.social-item img{
  @apply w-full
}

.social-item:hover img{
  @apply invert
}